<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEYRUvtpaOdVuuB7A4GygWGL6u9yKB4CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>615957819608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dietmaster.ayurveda</string>
	<key>PROJECT_ID</key>
	<string>dmg-replica-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>dmg-replica-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615957819608:ios:0f3407807ddd7e07f227ad</string>
</dict>
</plist>