<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615957819608-s0b7u532cablje3v0grojp2q8d0joe6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615957819608-s0b7u532cablje3v0grojp2q8d0joe6g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEYRUvtpaOdVuuB7A4GygWGL6u9yKB4CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>615957819608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dietmaster.replicademo</string>
	<key>PROJECT_ID</key>
	<string>dmg-replica-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>dmg-replica-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615957819608:ios:0d253241e7a03d12f227ad</string>
</dict>
</plist>